* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  height: 100vh;

  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  animation: trocar 20s ease-in;
}

.container-logo {
  background-image: url("./img/logo.png");
  background-repeat: no-repeat;
  background-size: cover;

  animation: text-focus-in 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

  width: 400px;
  height: 200px;
  z-index: 999;
}

@keyframes trocar {
  0% {
    background-image: url("./img/neo-the-matrix-resurrections-4k_1644787173.jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  50% {
    background-image: url("./img/morpheus-the-matrix-resurrections-4k_1644787173.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background-image: url("./img/trinity-the-matrix-resurrections-4k_1644787173.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
